Repository wpengine/faustjs, pull requests merged in 2023-06, with the labels that each got.

#1449 Core Quote Block
  packages/blocks/src/blocks/CoreQuote.tsx
  packages/blocks/src/blocks/index.ts
  packages/blocks/tests/blocks/CoreQuote.test.tsx
Labels: package: @faustwp/blocks

#1290 fix[faustwp-core]: (1287) fix endless refreshing on preview and add in two faust configuration variables
  .changeset/strong-horses-greet.md
  internal/faustjs.org/docs/faustwp/settings.mdx
  packages/faustwp-core/src/auth/client/accessToken.ts
  packages/faustwp-core/src/components/WordPressTemplate.tsx
  packages/faustwp-core/src/config/index.ts
Labels: documentation, has jira, package: @faustwp/core

#1453 Add `@faustwp/blocks` package version & `wp-graphql-content-blocks` plugin version to Faust.js telemetry
  .changeset/tidy-pandas-live.md
  .changeset/tough-mice-pretend.md
  internal/faustjs.org/docs/telemetry.mdx
  packages/faustwp-cli/src/telemetry/marshallTelemetryData.ts
  packages/faustwp-cli/src/telemetry/requestWPTelemetryData.ts
  plugins/faustwp/includes/rest/callbacks.php
  plugins/faustwp/includes/telemetry/functions.php
Labels: package: faustwp, package: @faustwp/cli
